<p>directives works!</p>


<div *ngIf="s">
    number is ten
</div>


<table class="table table-borderd">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
    </tr>
    <tr *ngFor="let i of arr">
        <td>
            {{i.id}}
        </td>
        <td>
            {{i.name}}
        </td>
        <td>
            {{i.email}}
        </td>
        
        
    </tr>
</table>


<div [ngSwitch]="num1">
    <div *ngSwitchCase="1">
        one
    </div>
    <div *ngSwitchCase="3">
        three
    </div>
    <div *ngSwitchCase="8">
        eight
    </div>
    <div *ngSwitCase="12">
      <h1>currect value </h1>
    </div>
    <div *ngSwitchDefault>
        <h3>defualt value</h3>
    </div>

</div>